@import '~node_modules/modern-normalize/modern-normalize.css';
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

img {
  width: 100%;
  display: block;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --white-color: #ffffff;
  --text-color: #000000;
  --text-secondary-color: #907e82;
  --title-color: #d41443;
  --label-color: #ffa5ba;
  --white-font-color: #ffffff;
  --accent-font-color: #d41443;
  --background-section-primary: #fff5f6;
  --background-section-white: #ffffff;
  --background-mobile-menu: #e17992;
  --background-primary-color: #ffb8ca;
  --background-secondary-color: #ffa5ba;
  --background-white: #ffffff;
  --card-color-first: #ffb8ca;
  --card-color-second: #f0d1a5;
  --card-color-third: #c2e297;
  --background-review: #fafafa;
  --decor-color: #e1e1e1;
  --review-accent: #c7133e;
  --review-common: #d9d9d9;
  --text-accent: #ffa5ba;
  --icon-color: #ffffff;
  --icon-background: #fea5bb;
  --icon-background-accent: #d41443;
  --background-button: #ffffff;
  --text-button: #d41443;
  --background-button-hover: #ecebeb;
  --reverse-background-button: #d41342;
  --reverse-text-button: #ffffff;
  --reverse-accent-button: #d41443;
  --indent: 32px;
  --items: 1;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  z-index: 120;
  visibility: visible;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 500;
  letter-spacing: 0.04em;
}

.card-set {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card-set .card-set__item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.button {
  padding: 11px 24px;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  line-height: 1.31;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--text-button);
  background-color: var(--background-button);
  cursor: pointer;
  border: none;
  border-radius: 22px;
  transition: color var(--transition), background-color var(--transition);
}
.button:hover, .button:focus {
  background-color: var(--background-button-hover);
}

.button--red {
  color: var(--reverse-text-button);
  background-color: var(--reverse-background-button);
}
.button--red:hover, .button--red:focus {
  color: var(--text-button);
  background-color: var(--background-button);
  box-shadow: 0px 3px 6px 1px var(--reverse-background-button);
}

.title {
  font-family: "Titan One", cursive;
  color: var(--title-color);
}
@media screen and (max-width: 767px) {
  .title {
    font-size: 34px;
    line-height: 1.15;
    font-weight: 400;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 48px;
    line-height: 1.15;
    font-weight: 400;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 58px;
    line-height: 1.14;
    font-weight: 400;
    letter-spacing: 0.06em;
  }
}

.label-title {
  font-family: "Titan One", cursive;
  color: var(--label-color);
}
@media screen and (max-width: 767px) {
  .label-title {
    font-size: 18px;
    line-height: 1.17;
    font-weight: 400;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 768px) {
  .label-title {
    font-size: 26px;
    line-height: 1.15;
    font-weight: 400;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .label-title {
    font-size: 30px;
    line-height: 1.13;
    font-weight: 400;
    letter-spacing: 0.04em;
  }
}

.link {
  display: block;
  transition: color var(--transition);
}
.link:hover, .link:focus {
  color: var(--accent-font-color);
}

.modal {
  width: 528px;
  padding: 40px;
  background-color: var(--background-primary-color);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706), 0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
  border: none;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .container {
    width: 320px;
    padding: 0px 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0px 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0px 16px;
  }
}

section {
  background-color: chocolate;
}

.header__inner {
  opacity: 0;
}
.header__inner .header__inner.is-open {
  opacity: 1;
}

section {
  background-color: palegoldenrod;
}

section {
  background-color: darkgrey;
}

.about {
  background-color: var(--background-section-primary);
  padding-top: 20px;
}
@media screen and (min-width: 768px) {
  .about {
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    background-image: url(../images/about/desktop/milk1.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .about {
    background-image: url(../images/about/desktop/milk1@2x.png);
  }
}

.about__label {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.about__title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .about__title {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .about__title {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .about__tablet {
    background-image: url(../images/about/mobile/milk1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position: bottom 120px;
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .about__tablet {
    background-image: url(../images/about/mobile/milk1@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .about__tablet {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .about__tablet {
    gap: 99px;
  }
}

.about__item {
  max-width: 220px;
}
@media screen and (min-width: 768px) {
  .about__item {
    max-width: 334px;
  }
}
@media screen and (min-width: 1200px) {
  .about__item {
    max-width: 463px;
  }
}

.about__top-text {
  font-size: 12px;
  line-height: 1.58;
  letter-spacing: 0.03em;
  margin-bottom: 40px;
  color: var(--text-color);
}
@media screen and (min-width: 768px) {
  .about__top-text {
    font-size: 14px;
    line-height: 1.79;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .about__top-text {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.03em;
    margin-bottom: 32px;
  }
}

.text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  color: var(--text-secondary-color);
}
@media screen and (min-width: 768px) {
  .text {
    font-size: 14px;
    line-height: 1.79;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .text {
    font-size: 14px;
    line-height: 1.93;
    letter-spacing: 0.03em;
  }
}

.about__text-bottom {
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .about__text-bottom {
    margin-bottom: 40px;
  }
}

.about__btn {
  font-size: 14px;
  line-height: 1.29;
  align-items: center;
  text-align: center;
  width: 176px;
  height: 44px;
}

section {
  background-color: aquamarine;
}

section {
  background-color: brown;
}

section {
  background-color: beige;
}

section {
  background-color: azure;
}

section {
  background-color: paleturquoise;
}/*# sourceMappingURL=index.css.map */