@import '~node_modules/modern-normalize/modern-normalize.css';
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

img {
  width: 100%;
  display: block;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --white-color: #ffffff;
  --text-color: #000000;
  --text-secondary-color: #907e82;
  --title-color: #d41443;
  --label-color: #ffa5ba;
  --white-font-color: #ffffff;
  --accent-font-color: #d41443;
  --background-section-primary: #fff5f6;
  --background-section-white: #ffffff;
  --background-mobile-menu: #e17992;
  --background-primary-color: #ffb8ca;
  --background-secondary-color: #ffa5ba;
  --background-white: #ffffff;
  --card-color-first: #ffb8ca;
  --card-color-second: #f0d1a5;
  --card-color-third: #c2e297;
  --background-review: #fafafa;
  --decor-color: #e1e1e1;
  --review-accent: #c7133e;
  --review-common: #d9d9d9;
  --text-accent: #ffa5ba;
  --icon-color: #ffffff;
  --icon-background: #fea5bb;
  --icon-background-accent: #d41443;
  --background-button: #ffffff;
  --text-button: #d41443;
  --background-button-hover: #ecebeb;
  --reverse-background-button: #d41342;
  --reverse-text-button: #ffffff;
  --reverse-accent-button: #d41443;
  --indent: 32px;
  --items: 1;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  z-index: 120;
  visibility: visible;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 500;
  letter-spacing: 0.04em;
}

.card-set {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card-set .card-set__item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.button {
  padding: 11px 24px;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  line-height: 1.31;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--text-button);
  background-color: var(--background-button);
  cursor: pointer;
  border: none;
  border-radius: 22px;
  transition: color var(--transition), background-color var(--transition);
}
.button:hover, .button:focus {
  background-color: var(--background-button-hover);
}

.button--red {
  color: var(--reverse-text-button);
  background-color: var(--reverse-background-button);
}
.button--red:hover, .button--red:focus {
  color: var(--text-button);
  background-color: var(--background-button);
  box-shadow: 0px 3px 6px 1px var(--reverse-background-button);
}

.button--arrow {
  width: 40px;
  height: 40px;
  padding: 0;
}

.title {
  font-family: "Titan One", cursive;
  color: var(--title-color);
}
@media screen and (max-width: 767px) {
  .title {
    font-size: 34px;
    line-height: 1.15;
    font-weight: 400;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 48px;
    line-height: 1.15;
    font-weight: 400;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 58px;
    line-height: 1.14;
    font-weight: 400;
    letter-spacing: 0.06em;
  }
}

.label-title {
  font-family: "Titan One", cursive;
  color: var(--label-color);
}
@media screen and (max-width: 767px) {
  .label-title {
    font-size: 18px;
    line-height: 1.17;
    font-weight: 400;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 768px) {
  .label-title {
    font-size: 26px;
    line-height: 1.15;
    font-weight: 400;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .label-title {
    font-size: 30px;
    line-height: 1.13;
    font-weight: 400;
    letter-spacing: 0.04em;
  }
}

.link {
  display: block;
  transition: color var(--transition);
}
.link:hover, .link:focus {
  color: var(--accent-font-color);
}

.modal {
  width: 528px;
  padding: 40px;
  background-color: var(--background-primary-color);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706), 0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
  border: none;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .container {
    width: 320px;
    padding: 0px 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0px 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0px 16px;
  }
}

section {
  background-color: chocolate;
}

.header__inner {
  opacity: 0;
}
.header__inner .header__inner.is-open {
  opacity: 1;
}

section {
  background-color: palegoldenrod;
}

section {
  background-color: darkgrey;
}

section {
  background-color: aqua;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: palegoldenrod;
}

section {
  background-color: aquamarine;
}

section {
  background-color: brown;
}

section {
  background-color: beige;
}

.contacts {
  background-image: linear-gradient(to bottom, var(--background-section-white) 0%, var(--background-section-white) 22%, var(--background-section-primary) 22%, var(--background-section-primary) 100%);
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 32px;
}

.contacts__item {
  padding: 40px 32px;
  background: var(--white-color);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

.contacts__wrap {
  padding-bottom: 24px;
  border-bottom: 1px solid var(--decor-color);
}

.contacts__category {
  display: inline-block;
  padding: 0 20px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.83;
  font-weight: 500;
  letter-spacing: 0.04em;
  font-family: "DM Sans";
  text-transform: uppercase;
  color: var(--white-color);
  border-radius: 4px;
}

.contacts__category--brown {
  background-color: #F0D1A5;
}

.contacts__category--green {
  background-color: #C2E297;
}

.contacts__city {
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 1.83;
  font-weight: 500;
  letter-spacing: 0.04em;
  font-family: "DM Sans";
  color: var(--text-color);
}

.contacts__text {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  font-family: "DM Sans";
  font-weight: 500;
  color: var(--text-secondary-color);
}

.worktime__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px 0;
  border-bottom: 1px solid var(--decor-color);
}

.worktime__days {
  font-size: 12px;
  line-height: 1.83;
  font-weight: 500;
  letter-spacing: 0.04em;
  font-family: "DM Sans";
  color: var(--text-color);
}

.worktime__time {
  font-family: "DM Sans";
  font-size: 12px;
  line-height: 1.83;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: var(--label-color);
}

.contacts__address {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  font-family: "DM Sans";
  color: var(--text-secondary-color);
  cursor: pointer;
}

.option__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.option__button {
  font-family: "DM Sans";
  font-size: 16px;
  line-height: 1.31;
  font-weight: 700;
  letter-spacing: 0.04em;
  min-width: 144px;
  height: 44px;
  text-align: center;
  color: var(--text-button);
  background: var(--background-button);
  border-radius: 22px;
  border: transparent;
  cursor: pointer;
}
.option__button:hover, .option__button:focus {
  color: var(--reverse-text-button);
  background-color: var(--reverse-background-button);
}

section {
  background-color: paleturquoise;
}/*# sourceMappingURL=index.css.map */