@import './decimals';

@mixin mq($type) {
  $mobile: 767px;
  $tablet: 768px;
  $desktop: 1200px;

  @if $type == mobile {
    @media screen and (max-width: $mobile) {
      @content;
    }
  }

  @if $type == tablet {
    @media screen and (min-width: $tablet) {
      @content;
    }
  }

  @if $type == desktop {
    @media screen and (min-width: $desktop) {
      @content;
    }
  }
}
// стандартное значение 60px,если паддинг секции отличается,тогда нужно сменить это значение
@mixin section($padding-top: false, $padding-bottom: false) {
  @if ($padding-top) {
    padding-top: $padding-top;
  } @else {
    padding-top: 60px;
  }
  @if ($padding-bottom) {
    padding-bottom: $padding-bottom;
  } @else {
    padding-bottom: 60px;
  }
}

// fs = font size, lh = line height, fw = font weight, ls = letter spacing

@mixin fonts($fs, $lh, $fw: false, $ls: false) {
  font-size: $fs;

  line-height: calc($lh / $fs);

  //   формул деления, например: 20/14=1,43 (значение line height)

  @if ($fw) {
    font-weight: $fw;
  }
  // если font weight не имеет специфическое значение, его можно не вводить

  @if ($ls) {
    letter-spacing: $ls;
  } @else {
    letter-spacing: 0.03em;
  }
}
