:root {
  // common fornts color
  --white-color: #ffffff;
  --text-color: #000000;
  --text-secondary-color: #907e82;
  --title-color: #d41443;
  --label-color: #ffa5ba;
  --white-font-color: #ffffff;
  --accent-font-color: #d41443;

  // background colors
  --background-section-primary: #fff5f6;
  --background-section-white: #ffffff;
  --background-mobile-menu: #e17992;

  // hero

  --background-primary-color: #ffb8ca;
  --background-secondary-color: #ffa5ba;

  //products

  --background-white: #ffffff;
  --card-color-first: #ffb8ca;
  --card-color-second: #f0d1a5;
  --card-color-third: #c2e297;
  // gallery
  //   riviews
  --background-review: #fafafa;
  --decor-color: #e1e1e1;
  --review-accent: #c7133e;
  --review-common: #d9d9d9;
  //contacts
  --text-accent: #ffa5ba;
  //   icons
  --icon-color: #ffffff;
  --icon-background: #fea5bb;
  --icon-background-accent: #d41443;
  //    buttons
  --background-button: #ffffff;
  --text-button: #d41443;
  --background-button-hover: #ecebeb;
  --reverse-background-button: #d41342;
  --reverse-text-button: #ffffff;
  --reverse-accent-button: #d41443;

  // other
  --indent: 32px;
  --items: 1;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
