<section class="section contacts">
    <div class="container">
        <h2 class="contacts__title visually-hidden">Contacts</h2>
        <ul class="contacts__list">
            <li class="contacts__item">
                <div class="contacts__wrap"> 
                    <p class="contacts__category contacts__category--brown">Cafe</p>
                    <h3 class="contacts__city">Chicago</h3>
                    <p class="contacts__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                </div>
                <ul class="worktime__list">
                    <li class="worktime__item">
                        <p class="worktime__days">Monday - Friday</p>
                        <time class="worktime__time">06:00 AM - 10:00 PM</time>
                    </li>
                    <li class="worktime__item">
                        <p class="worktime__days">Saturday - Sunday</p>
                        <time class="worktime__time" >08:00 AM - 16:00 PM</time>
                    </li>
                </ul>
                <address class="contacts__address">
                    <a href="tel:+610383766284">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                </address>                           
            </li>
            <li class="contacts__item">
                <div class="contacts__wrap">
                    <p class="contacts__category contacts__category--green">Foodtrack</p>
                    <h3 class="contacts__city">Los Angeles</h3>
                    <p class="contacts__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                </div>
                <ul class="worktime__list">
                    <li class="worktime__item">
                        <p class="worktime__days">Monday - Friday</p>
                        <time class="worktime__time">06:00 AM - 10:00 PM</time>
                    </li>
                    <li class="worktime__item">
                        <p class="worktime__days">Saturday - Sunday</p>
                        <time class="worktime__time" >08:00 AM - 16:00 PM</time>

                    </li>
                </ul>
                <address class="contacts__address">
                    <a href="tel:+610383766284">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                </address>
                
            </li>
            <li class="contacts__item">
                <div class="contacts__wrap">
                    <p class="contacts__category contacts__category--brown">Cafe</p>
                    <h3 class="contacts__city">New York</h3>
                    <p class="contacts__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <ul class="worktime__list">
                    <li class="worktime__item">
                        <p class="worktime__days">Monday - Friday</p>
                        <time class="worktime__time">06:00 AM - 10:00 PM</time>
                    </li>
                    <li class="worktime__item">
                        <p class="worktime__days">Saturday - Sunday</p>
                        <time class="worktime__time" >08:00 AM - 16:00 PM</time>
                    </li>
                </ul>
                <address class="contacts__address">
                    <a href="tel:+610383766284">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                </address>
                
            </li>
        </ul>
        <ul class="option__list">
            <li class="option__item">
                <button class="button option__button" type="button">Our Locations</button>
            </li>
            <li class="option__item">
                <button class="button option__button" type="button">Franchise</button>
            </li>
            
        </ul>

    </div>
    

</section>

