<section class="reviews">
  <div class="reviews__container container">
    <h2 class="reviews__title title visually-hidden">Customer reviews</h2>
    <div class="single-item">
      <div>
        <div class="reviews__card">
          <picture>
            <source
              srcset="
                ./images/customer-reviews/photo01.webp    1x,
                ./images/customer-reviews/photo01@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/customer-reviews/photo01.jpg    1x,
                ./images/customer-reviews/photo01@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img
              class="reviews__image"
              src="./images/customer-reviews/photo01.jpg"
              alt="Reviewer's photo"
              loading="lazy"
            />
          </picture>
          <div class="reviews__wrapper">
            <p class="reviews__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <div class="reviews__dots"></div>
          <h3 class="reviews__city">Emily, Los Angeles</h3>
        </div>
      </div>

      <div>
        <div class="reviews__card">
          <picture>
            <source
              srcset="
                ./images/customer-reviews/photo02.webp    1x,
                ./images/customer-reviews/photo02@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/customer-reviews/photo02.jpg    1x,
                ./images/customer-reviews/photo02@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img
              class="reviews__image"
              src="./images/customer-reviews/photo02.jpg"
              alt="Reviewer's photo"
              loading="lazy"
            />
          </picture>
          <div class="reviews__wrapper">
            <p class="reviews__text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo rem
              sit quas beatae eveniet ad odio illum? Molestiae sint .
            </p>
          </div>
          <div class="reviews__dots"></div>
          <h3 class="reviews__city">Natali, Kyiv</h3>
        </div>
      </div>
      <div>
        <div class="reviews__card">
          <picture>
            <source
              srcset="
                ./images/customer-reviews/photo03.webp    1x,
                ./images/customer-reviews/photo03@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/customer-reviews/photo03.jpg    1x,
                ./images/customer-reviews/photo03@2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img
              class="reviews__image"
              src="./images/customer-reviews/photo03.jpg"
              alt="Reviewer's photo"
              loading="lazy"
            />
          </picture>
          <div class="reviews__wrapper">
            <p class="reviews__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <div class="reviews__dots"></div>
          <h3 class="reviews__city">Maria, Brasilia</h3>
        </div>
      </div>
    </div>
  </div>
</section>
