<section class="gallery" id="gallery">
  <div class="gallery-container">
    <h2 class="gallert-title visually-hidden">Gallery section</h2>

    <div class="gallery-grid">
      <div class="gallery-grid__item">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/mobile/img-gallery-mobile1.webp    1x,
              ./images/gallery/mobile/img-gallery-mobile1@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width:1199px)"
            srcset="
              ./images/gallery/tablet/img-gallery-tablet1.webp    1x,
              ./images/gallery/tablet/img-gallery-tablet1@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/desktop/img-gallery1.webp    1x,
              ./images/gallery/desktop/img-gallery1@2x.webp 2x
            "
            type="image/webp"
          />

          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/mobile/img-gallery-mobile1.jpg    1x,
              ./images/gallery/mobile/img-gallery-mobile1@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width:1199px)"
            srcset="
              ./images/gallery/tablet/img-gallery-tablet1.jpg    1x,
              ./images/gallery/tablet/img-gallery-tablet1@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/desktop/img-gallery1.jpg    1x,
              ./images/gallery/desktop/img-gallery1@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="gallery__img"
            src="./images/gallery/desktop/img-gallery1.jpg"
            alt=""
            loading="lazy"
          />
        </picture>
      </div>

      <div class="gallery-grid__both">
        <div class="gallery-grid__item">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/gallery/mobile/img-gallery-mobile2.webp    1x,
                ./images/gallery/mobile/img-gallery-mobile2@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width:1199px)"
              srcset="
                ./images/gallery/tablet/img-gallery-tablet2.webp    1x,
                ./images/gallery/tablet/img-gallery-tablet2@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/desktop/img-gallery2.webp    1x,
                ./images/gallery/desktop/img-gallery2@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/gallery/mobile/img-gallery-mobile2.jpg    1x,
                ./images/gallery/mobile/img-gallery-mobile2@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(max-width:1199px)"
              srcset="
                ./images/gallery/tablet/img-gallery-tablet2.jpg    1x,
                ./images/gallery/tablet/img-gallery-tablet2@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/desktop/img-gallery2.jpg    1x,
                ./images/gallery/desktop/img-gallery2@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="gallery__img"
              src="./images/gallery/desktop/img-gallery2.jpg"
              alt=""
              loading="lazy"
            />
          </picture>
        </div>

        <div class="gallery-grid__item">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/gallery/mobile/img-gallery-mobile3.webp    1x,
                ./images/gallery/mobile/img-gallery-mobile3@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width:1199px)"
              srcset="
                ./images/gallery/tablet/img-gallery-tablet3.webp    1x,
                ./images/gallery/tablet/img-gallery-tablet3@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/desktop/img-gallery3.webp    1x,
                ./images/gallery/desktop/img-gallery3@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/gallery/mobile/img-gallery-mobile3.jpg    1x,
                ./images/gallery/mobile/img-gallery-mobile3@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(max-width:1199px)"
              srcset="
                ./images/gallery/tablet/img-gallery-tablet3.jpg    1x,
                ./images/gallery/tablet/img-gallery-tablet3@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/desktop/img-gallery3.jpg    1x,
                ./images/gallery/desktop/img-gallery3@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="gallery__img"
              src="./images/gallery/desktop/img-gallery3.jpg"
              alt=""
              loading="lazy"
            />
          </picture>
        </div>
      </div>

      <div class="gallery-grid__both">
        <div class="gallery-grid__item big">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/gallery/mobile/img-gallery-mobile4.webp    1x,
                ./images/gallery/mobile/img-gallery-mobile4@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width:1199px)"
              srcset="
                ./images/gallery/tablet/img-gallery-tablet4.webp    1x,
                ./images/gallery/tablet/img-gallery-tablet4@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/desktop/img-gallery4.webp    1x,
                ./images/gallery/desktop/img-gallery4@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/gallery/mobile/img-gallery-mobile4.jpg    1x,
                ./images/gallery/mobile/img-gallery-mobile4@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(max-width:1199px)"
              srcset="
                ./images/gallery/tablet/img-gallery-tablet4.jpg    1x,
                ./images/gallery/tablet/img-gallery-tablet4@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/desktop/img-gallery4.jpg    1x,
                ./images/gallery/desktop/img-gallery4@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="gallery__img"
              src="./images/gallery/desktop/img-gallery4.jpg"
              alt=""
              loading="lazy"
            />
          </picture>
        </div>

        <div class="gallery-grid__item small">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/gallery/mobile/img-gallery-mobile5.webp    1x,
                ./images/gallery/mobile/img-gallery-mobile5@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width:1199px)"
              srcset="
                ./images/gallery/tablet/img-gallery-tablet5.webp    1x,
                ./images/gallery/tablet/img-gallery-tablet5@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/desktop/img-gallery5.webp    1x,
                ./images/gallery/desktop/img-gallery5@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/gallery/mobile/img-gallery-mobile5.jpg    1x,
                ./images/gallery/mobile/img-gallery-mobile5@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(max-width:1199px)"
              srcset="
                ./images/gallery/tablet/img-gallery-tablet5.jpg    1x,
                ./images/gallery/tablet/img-gallery-tablet5@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/desktop/img-gallery5.jpg    1x,
                ./images/gallery/desktop/img-gallery5@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="gallery__img"
              src="./images/gallery/desktop/img-gallery5.jpg"
              alt=""
              loading="lazy"
            />
          </picture>
        </div>
      </div>

      <div class="gallery-grid__both">
        <div class="gallery-grid__item">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/gallery/mobile/img-gallery-mobile6.webp    1x,
                ./images/gallery/mobile/img-gallery-mobile6@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width:1199px)"
              srcset="
                ./images/gallery/tablet/img-gallery-tablet6.webp    1x,
                ./images/gallery/tablet/img-gallery-tablet6@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/desktop/img-gallery6.webp    1x,
                ./images/gallery/desktop/img-gallery6@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/gallery/mobile/img-gallery-mobile6.jpg    1x,
                ./images/gallery/mobile/img-gallery-mobile6@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(max-width:1199px)"
              srcset="
                ./images/gallery/tablet/img-gallery-tablet6.jpg    1x,
                ./images/gallery/tablet/img-gallery-tablet6@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/desktop/img-gallery6.jpg    1x,
                ./images/gallery/desktop/img-gallery6@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="gallery__img"
              src="./images/gallery/desktop/img-gallery2.jpg"
              alt=""
              loading="lazy"
            />
          </picture>
        </div>

        <div class="gallery-grid__item">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/gallery/mobile/img-gallery-mobile7.webp    1x,
                ./images/gallery/mobile/img-gallery-mobile7@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width:1199px)"
              srcset="
                ./images/gallery/tablet/img-gallery-tablet7.webp    1x,
                ./images/gallery/tablet/img-gallery-tablet7@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/desktop/img-gallery7.webp    1x,
                ./images/gallery/desktop/img-gallery7@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/gallery/mobile/img-gallery-mobile7.jpg    1x,
                ./images/gallery/mobile/img-gallery-mobile7@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(max-width:1199px)"
              srcset="
                ./images/gallery/tablet/img-gallery-tablet7.jpg    1x,
                ./images/gallery/tablet/img-gallery-tablet7@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/desktop/img-gallery7.jpg    1x,
                ./images/gallery/desktop/img-gallery7@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="gallery__img"
              src="./images/gallery/desktop/img-gallery7.jpg"
              alt=""
              loading="lazy"
            />
          </picture>
        </div>
      </div>

      <div class="gallery-grid__both up">
        <div class="gallery-grid__item">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/gallery/mobile/img-gallery-mobile8.webp    1x,
                ./images/gallery/mobile/img-gallery-mobile8@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width:1199px)"
              srcset="
                ./images/gallery/tablet/img-gallery-tablet8.webp    1x,
                ./images/gallery/tablet/img-gallery-tablet8@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/desktop/img-gallery8.webp    1x,
                ./images/gallery/desktop/img-gallery8@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/gallery/mobile/img-gallery-mobile8.jpg    1x,
                ./images/gallery/mobile/img-gallery-mobile8@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(max-width:1199px)"
              srcset="
                ./images/gallery/tablet/img-gallery-tablet8.jpg    1x,
                ./images/gallery/tablet/img-gallery-tablet8@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/desktop/img-gallery8.jpg    1x,
                ./images/gallery/desktop/img-gallery8@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="gallery__img"
              src="./images/gallery/desktop/img-gallery8.jpg"
              alt=""
              loading="lazy"
            />
          </picture>
        </div>

        <div class="gallery-grid__item">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/gallery/mobile/img-gallery-mobile9.webp    1x,
                ./images/gallery/mobile/img-gallery-mobile9@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width:1199px)"
              srcset="
                ./images/gallery/tablet/img-gallery-tablet9.webp    1x,
                ./images/gallery/tablet/img-gallery-tablet9@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/desktop/img-gallery9.webp    1x,
                ./images/gallery/desktop/img-gallery9@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(max-width: 767px)"
              srcset="
                ./images/gallery/mobile/img-gallery-mobile9.jpg    1x,
                ./images/gallery/mobile/img-gallery-mobile9@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(max-width:1199px)"
              srcset="
                ./images/gallery/tablet/img-gallery-tablet9.jpg    1x,
                ./images/gallery/tablet/img-gallery-tablet9@2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/desktop/img-gallery9.jpg    1x,
                ./images/gallery/desktop/img-gallery9@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="gallery__img"
              src="./images/gallery/desktop/img-gallery9.jpg"
              alt=""
              loading="lazy"
            />
          </picture>
        </div>
      </div>
      <div class="gallery-grid__item">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/mobile/img-gallery-mobile10.webp    1x,
              ./images/gallery/mobile/img-gallery-mobile10@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width:1199px)"
            srcset="
              ./images/gallery/tablet/img-gallery-tablet10.webp    1x,
              ./images/gallery/tablet/img-gallery-tablet10@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/desktop/img-gallery10.webp    1x,
              ./images/gallery/desktop/img-gallery10@2x.webp 2x
            "
            type="image/webp"
          />

          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/mobile/img-gallery-mobile10.jpg    1x,
              ./images/gallery/mobile/img-gallery-mobile10@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width:1199px)"
            srcset="
              ./images/gallery/tablet/img-gallery-tablet10.jpg    1x,
              ./images/gallery/tablet/img-gallery-tablet10@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/desktop/img-gallery10.jpg    1x,
              ./images/gallery/desktop/img-gallery10@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="gallery__img"
            src="./images/gallery/desktop/img-gallery10.jpg"
            alt=""
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
