<header class="header">
  <div class="container header__container">
    <div class="header__logo-wrapper">
      <svg class="logo">
        <use href="./images/sprite.svg#icon-logo"></use>
      </svg>
      <span class="logo__text">icecream</span>
    </div>
    <div class="header__wrapper">
      <button class="menu-button" data-menu-button>
        <span class="burger-menu"></span>
      </button>
      <button class="header__button button" type="button" data-modal-btn>
        Buy now
        <svg class="icon" width="16px" height="16px">
          <use href="./images/sprite.svg#icon-arrow"></use>
        </svg>
      </button>
      <div class="header__menu" data-menu>
        <nav class="site-nav">
          <ul class="site-nav__list">
            <li class="site-nav__item">
              <a class="site-nav__link link" href="#home">Home</a>
            </li>
            <li class="site-nav__item">
              <a class="site-nav__link link" href="#about">About us</a>
            </li>
            <li class="site-nav__item">
              <a class="site-nav__link link" href="#howmade">How it’s made?</a>
            </li>
            <li class="site-nav__item">
              <a class="site-nav__link link" href="#products">Our products</a>
            </li>
            <li class="site-nav__item">
              <a class="site-nav__link link" href="#contacts">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
