<section>
    <div class="container container--hero">
        <div class="hero">
            <h1 class="hero__name">ice cream </br> made with </br> <span class="hero__name--color">passion</span> </h1>
            <button class="button button--red">Products</button>
            <button class="button">How it’s made?</button>
        </div>
            <div class="">
                <!-- <img class="pic" src="./images/hero/mobile/slider-pic1.png " alt="ice cream" /> -->
                <picture class="ice-cream">
        
                    <source srcset="./images/hero/desktop/slider-pic1.webp 1x, ./images/hero/desktop/slider-pic1@2x.webp 2x"
                        media="(min-width:1200px)" type="image/webp" />
                    <source srcset="./images/hero/desktop/slider-pic1.png 1x, ./images/hero/desktop/slider-pic1@2x.png 2x"
                        media="(min-width:1200px)" type="image/png" />
        
                    <source srcset="./images/hero/tablet/slider-pic1.webp 1x, ./images/hero/tablet/slider-pic1@2x.webp 2x"
                        media="(min-width:768px)" type="image/webp" />
                    <source srcset="./images/hero/tablet/slider-pic1.png 1x, ./images/hero/tablet/slider-pic1@2x.png 2x"
                        media="(min-width:768px)" type="image/png" />
        
                    <source srcset="./images/hero/mobile/slider-pic1.webp 1x, ./images/hero/mobile/slider-pic1@2x.webp 2x"
                        type="image/webp" />
                    <source srcset="./images/hero/mobile/slider-pic1.png 1x, ./images/hero/mobile/slider-pic1@2x.png 2x"
                        type="image/png" />
                    <img class="pic" src="./images/hero/mobile/slider-pic1.png " alt="ice cream" />
                </picture>
                <div class="circle"></div>
            </div>
         
    </div>
    
</section>

