<section>
    <div class="hero">
        <h1 class="hero__name">ice cream </br> made with </br> <span class="hero__name--color">passion</span> </h1>
        <button class="button--red">Products</button>
        <button>How it’s made?</button>
        <picture>
            <source srcset="./images/hero/desktop/slider-pic1.png 1x, ./images/hero/desktop/slider-pic1@2x.png 2x"  />
            <!-- media="(min-width:1200px)" -->
            <!-- <source srcset="./img/2-tab@1x.jpg 1x, ./img/2-tab@2x.jpg 2x " media="(min-width:768px)" />
            <source srcset="./img/2-mob@1x.jpg 1x, ./img/2-mob@2x.jpg 2x" /> -->
            <img src="./images/hero/desktop/slider-pic1.png " alt="Постер New Orlean vs Golden Star" />
        </picture>
     


    </div>
    <div class="circle"></div>
    
</section>


    <!-- <picture>
            <source srcset="./img/2-comp@1x.jpg 1x, ./img/2-comp@2x.jpg 2x" media="(min-width:1200px)" />
            <source srcset="./img/2-tab@1x.jpg 1x, ./img/2-tab@2x.jpg 2x " media="(min-width:768px)" />
            <source srcset="./img/2-mob@1x.jpg 1x, ./img/2-mob@2x.jpg 2x" />
            <img src="../images/hero/mobile/ " alt="Постер New Orlean vs Golden Star" />
          </picture>