<section class="hero" id="home">
  <div class="container hero__container">
    <div class="hero__ice-cream">
      <!-- <div class="hero__pic-box animate__animated animate__rotateInUpLeft"> -->
      <!-- <div class="animate__animated animate__jackInTheBox animate__bounce"> -->
      <picture>
        <source
          srcset="
            ./images/hero/desktop/slider-pic1.webp    1x,
            ./images/hero/desktop/slider-pic1@2x.webp 2x
          "
          media="(min-width:1200px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/hero/desktop/slider-pic1.png    1x,
            ./images/hero/desktop/slider-pic1@2x.png 2x
          "
          media="(min-width:1200px)"
          type="image/png"
        />

        <source
          srcset="
            ./images/hero/tablet/slider-pic1.webp    1x,
            ./images/hero/tablet/slider-pic1@2x.webp 2x
          "
          media="(min-width:768px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/hero/tablet/slider-pic1.png    1x,
            ./images/hero/tablet/slider-pic1@2x.png 2x
          "
          media="(min-width:768px)"
          type="image/png"
        />

        <source
          srcset="
            ./images/hero/mobile/slider-pic1.webp    1x,
            ./images/hero/mobile/slider-pic1@2x.webp 2x
          "
          media="(max-width:767px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/hero/mobile/slider-pic1.png    1x,
            ./images/hero/mobile/slider-pic1@2x.png 2x
          "
          media="(max-width:767px)"
          type="image/png"
        />
        <img
          src="./images/hero/mobile/slider-pic1.png "
          alt="ice cream"
          loading="lazy"
        />
      </picture>
    </div>
    <div class="top-line">
      <div class="hero__title">
        <h1 class="title hero__title-wrapper">
          <span class="hero__title-wrapper--color">ice cream made with </span>
          <span class="hero__title-wrapper--size">passion</span>
        </h1>
        <a class="hero__button button button--red button-link" href="#products">
          Products</a
        >
        <a class="hero__button button button-link" href="#howmade">
          How it’s made?</a
        >
      </div>
      <div class="hero__number">
        <div class="hero__cafes">
          <p class="hero__number-cafes-trucks">16</p>
          <h2 class="hero__title-cafes-trucks">cafes</h2>
        </div>

        <div class="hero__food-trucks">
          <p class="hero__number-cafes-trucks">23</p>
          <p class="hero__title-cafes-trucks">food-trucks</p>
        </div>
      </div>
    </div>
    <div class="hero__bottom-line">
      <div class="hero__milk">
        <picture>
          <source
            srcset="
              ./images/hero/desktop/slider-pic2.webp    1x,
              ./images/hero/desktop/slider-pic2@2x.webp 2x
            "
            media="(min-width:1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/hero/desktop/slider-pic2.png    1x,
              ./images/hero/desktop/slider-pic2@2x.png 2x
            "
            media="(min-width:1200px)"
            type="image/png"
          />

          <source
            srcset="
              ./images/hero/tablet/slider-pic2.webp    1x,
              ./images/hero/tablet/slider-pic2@2x.webp 2x
            "
            media="(min-width:768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/hero/tablet/slider-pic2.png    1x,
              ./images/hero/tablet/slider-pic2@2x.png 2x
            "
            media="(min-width:768px)"
            type="image/png"
          />
          <img
            src="./images/hero/tablet/slider-pic2.png "
            alt="milk"
            loading="lazy"
          />
        </picture>
        <div class="hero__lorem">
          <p class="hero__disc-arrow">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button class="button hero__button-circle">
            <img src="./images/arrows/arrow.png" alt="" />
          </button>
        </div>
      </div>

      <div class="hero__girl animate__animated animate__slideInRight">
        <!-- <div class="hero__girl-box animate__animated animate__slideInRight"> -->
        <picture>
          <source
            srcset="
              ./images/hero/desktop/slider-pic3.webp    1x,
              ./images/hero/desktop/slider-pic3@2x.webp 2x
            "
            media="(min-width:1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/hero/desktop/slider-pic3.png    1x,
              ./images/hero/desktop/slider-pic3@2x.png 2x
            "
            media="(min-width:1200px)"
            type="image/png"
          />

          <source
            srcset="
              ./images/hero/tablet/slider-pic3.webp    1x,
              ./images/hero/tablet/slider-pic3@2x.webp 2x
            "
            media="(min-width:768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/hero/tablet/slider-pic3.png    1x,
              ./images/hero/tablet/slider-pic3@2x.png 2x
            "
            media="(min-width:768px)"
            type="image/png"
          />
          <img
            src="./images/hero/tablet/slider-pic3.png "
            alt="girl"
            loading="lazy"
          />
        </picture>
      </div>
    </div>

    <!-- <div class="hero__circle"></div> -->
  </div>
</section>
