
<section class="products">
    <div class="container">
        <p class="section__label label-title">100% natural</p>
        <h2 class="section__title title">products</h2>
        <ul class="card-set">
            <li class="card-set__item">
               <div class="product product-cream">
                <h3 class="product__name">ice cream</h3>
                <span class="ellipse"></span>
                <p class="product__discr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                <a class="button--arrow link" href="">
                 <img src="./images/arrows/arrow.png" alt="arrow-right">
                </a>
               </div>
            </li>
            <li class="card-set__item">
                <div class="product product-cofee">
                <h3 class="product__name">ice coffee</h3>
                <div class="separ">
                    <span class="ellipse"></span>
                </div>
                <p class="product__discr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                    <a class="button--arrow link" href="">
                        <img src="./images/arrows/arrow.png" alt="arrow-right">
                    </a>
                </div>
            </li>
            <li class="card-set__item">
                <div class="product product-milkshakes">
                <h3 class="product__name">milkshakes</h3>
                <div class="separ">
                    <span class="ellipse"></span>
                </div>
                <p class="product__discr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                  <a class="button--arrow link" href="">
                    <img src="./images/arrows/arrow.png" alt="arrow-right">
                  </a>
                </div>
            </li>
        </ul>
    </div>
</section>
