<section id="products" class="products">
  <div class="container">
    <p class="section__label label-title">100% natural</p>
    <h2 class="section__title title">products</h2>
    <ul class="card-set products-set">
      <li class="card-set__item">
        <div class="product product-cream">
          <h3 class="product__name">ice cream</h3>
          <span class="ellipse"></span>
          <p class="product__discr">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <a class="arrow-right link" href="">
            <picture>
              <source
                srcset="
                  ./images/arrows/arrow.webp    1x,
                  ./images/arrows/arrow@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="./images/arrows/arrow@2x.png 2x"
                type="image/jpg"
              />
              <img src="./images/arrows/arrow.png" alt="arrow-right" />
            </picture>
          </a>
        </div>
      </li>
      <li class="card-set__item">
        <div class="product product-coffee">
          <h3 class="product__name">ice coffee</h3>
          <div class="separ">
            <span class="ellipse"></span>
          </div>
          <p class="product__discr">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <a class="arrow-right link" href="">
            <picture>
              <source
                srcset="
                  ./images/arrows/arrow.webp    1x,
                  ./images/arrows/arrow@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="./images/arrows/arrow@2x.png 2x"
                type="image/jpg"
              />
              <img src="./images/arrows/arrow.png" alt="arrow-right" />
            </picture>
          </a>
        </div>
      </li>
      <li class="card-set__item">
        <div class="product product-milkshakes">
          <h3 class="product__name">milkshakes</h3>
          <div class="separ">
            <span class="ellipse"></span>
          </div>
          <p class="product__discr">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <a class="arrow-right link" href="">
            <picture>
              <source
                srcset="
                  ./images/arrows/arrow.webp    1x,
                  ./images/arrows/arrow@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="./images/arrows/arrow@2x.png 2x"
                type="image/jpg"
              />
              <img src="./images/arrows/arrow.png" alt="arrow-right" />
            </picture>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
