<section class="products" id="products">
  <div class="container">
    <p class="section__label label-title">100% natural</p>
    <h2 class="section__title title">products</h2>
    <ul class="card-set products-set">
      <li class="card-set__item card">
        <input class="visually-hidden" type="checkbox" id="toggle" />
        <div class="front">
          <div class="product product-cream">
            <div>
              <h3 class="product__name">ice cream</h3>
              <span class="ellipse"></span>
            </div>
            <p class="product__discr">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis.
            </p>
            <label for="toggle" class="arrow-right">
              <picture>
                <source
                  srcset="
                    ./images/arrows/arrow.webp    1x,
                    ./images/arrows/arrow@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="./images/arrows/arrow@2x.png 2x"
                  type="image/jpg"
                />
                <img src="./images/arrows/arrow.png" alt="arrow-right" />
              </picture>
            </label>
          </div>
        </div>

        <div class="back">
          <div class="back-product product-cream">
            <ul class="back-product__list">
              <li>
                <p class="back-product__item">Chocolate</p>
              </li>
              <li>
                <p class="back-product__item">Vanilla</p>
              </li>
              <li>
                <p class="back-product__item">Strawberry</p>
              </li>
              <li>
                <p class="back-product__item">Mint chocolate chip</p>
              </li>
              <li>
                <p class="back-product__item">Pistachio</p>
              </li>
            </ul>
            <label for="toggle" class="arrow-right link">
              <picture>
                <source
                  srcset="
                    ./images/arrows/arrow.webp    1x,
                    ./images/arrows/arrow@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="./images/arrows/arrow@2x.png 2x"
                  type="image/jpg"
                />
                <img src="./images/arrows/arrow.png" alt="arrow-right" />
              </picture>
            </label>
          </div>
        </div>
      </li>

      <li class="card-set__item card">
        <input class="visually-hidden" type="checkbox" id="toggle2" />
        <div class="front">
          <div class="product product-coffee">
            <div>
              <h3 class="product__name">ice coffee</h3>
              <div class="separ"></div>
              <span class="ellipse"></span>
            </div>
            <p class="product__discr">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis.
            </p>
            <label for="toggle2" class="arrow-right">
              <picture>
                <source
                  srcset="
                    ./images/arrows/arrow.webp    1x,
                    ./images/arrows/arrow@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="./images/arrows/arrow@2x.png 2x"
                  type="image/jpg"
                />
                <img src="./images/arrows/arrow.png" alt="arrow-right" />
              </picture>
            </label>
          </div>
        </div>

        <div class="back">
          <div class="back-product product-coffee">
            <ul class="back-product__list">
              <li>
                <p class="back-product__item">Iced Espresso</p>
              </li>
              <li>
                <p class="back-product__item">Iced-Cappuccino</p>
              </li>
              <li>
                <p class="back-product__item">Frappé</p>
              </li>
              <li>
                <p class="back-product__item">Cold Brew Coffee</p>
              </li>
              <li>
                <p class="back-product__item">Nitro Cold Brew</p>
              </li>
            </ul>
            <label for="toggle2" class="arrow-right link">
              <picture>
                <source
                  srcset="
                    ./images/arrows/arrow.webp    1x,
                    ./images/arrows/arrow@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="./images/arrows/arrow@2x.png 2x"
                  type="image/jpg"
                />
                <img src="./images/arrows/arrow.png" alt="arrow-right" />
              </picture>
            </label>
          </div>
        </div>
      </li>

      <li class="card-set__item card">
        <input class="visually-hidden" type="checkbox" id="toggle3" />
        <div class="front">
          <div class="product product-milkshakes">
            <div>
              <h3 class="product__name">milkshakes</h3>
              <div class="separ"></div>
              <span class="ellipse"></span>
            </div>
            <p class="product__discr">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis.
            </p>
            <label for="toggle3" class="arrow-right">
              <picture>
                <source
                  srcset="
                    ./images/arrows/arrow.webp    1x,
                    ./images/arrows/arrow@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="./images/arrows/arrow@2x.png 2x"
                  type="image/jpg"
                />
                <img src="./images/arrows/arrow.png" alt="arrow-right" />
              </picture>
            </label>
          </div>
        </div>
        <div class="back">
          <div class="back-product product-milkshakes">
            <ul class="back-product__list">
              <li>
                <p class="back-product__item">Vanilla special</p>
              </li>
              <li>
                <p class="back-product__item">Cool mint</p>
              </li>
              <li>
                <p class="back-product__item">Strawberry</p>
              </li>
              <li>
                <p class="back-product__item">Strawberry marshallow</p>
              </li>
              <li>
                <p class="back-product__item">Blueberry cheesecake</p>
              </li>
            </ul>
            <label for="toggle3" class="arrow-right">
              <picture>
                <source
                  srcset="
                    ./images/arrows/arrow.webp    1x,
                    ./images/arrows/arrow@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="./images/arrows/arrow@2x.png 2x"
                  type="image/jpg"
                />
                <img src="./images/arrows/arrow.png" alt="arrow-right" />
              </picture>
            </label>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
