body {
  min-width: 320px;
  font-family: 'DM Sans', sans-serif;
  @include fonts(16px, 30px, 500, 0.04em);
}

.card-set {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .card-set__item {
    flex-basis: calc(
      (100% - var(--indent) * (var(--items) - 1)) / var(--items)
    );
  }
}
.button-link {
  display: inline-block;
}
.button {
  padding: 11px 24px;

  font-family: 'DM Sans', sans-serif;
  @include fonts(16px, 21px, 700);
  color: var(--text-button);
  background-color: var(--background-button);
  cursor: pointer;

  border: none;
  border-radius: 22px;
  transition: transform var(--transition), opacity var(--transition),
    color var(--transition), box-shadow var(--transition),
    background-color var(--transition);

  &:hover,
  &:focus {
    background-color: var(--background-button-hover);
    box-shadow: 0px 3px 6px 1px var(--reverse-background-button);
  }
}
.button--red {
  color: var(--reverse-text-button);
  background-color: var(--reverse-background-button);

  &:hover,
  &:focus {
    color: var(--text-button);
    background-color: var(--background-button);
    box-shadow: 0px 3px 6px 1px var(--reverse-background-button);
  }
}
.button--arrow {
  width: 40px;
  height: 40px;
  padding: 0;
}
.title {
  font-family: 'Titan One', cursive;
  text-transform: uppercase;
  color: var(--title-color);
  @include mq(mobile) {
    @include fonts(34px, 39px, 400, 0.04em);
  }
  @include mq(tablet) {
    @include fonts(48px, 55px, 400, 0.04em);
  }
  @include mq(desktop) {
    @include fonts(58px, 66px, 400, 0.06em);
  }
}

.label-title {
  font-family: 'Titan One', cursive;
  color: var(--label-color);
  text-transform: uppercase;
  @include mq(mobile) {
    @include fonts(18px, 21px, 400);
  }
  @include mq(tablet) {
    @include fonts(26px, 30px, 400);
  }
  @include mq(desktop) {
    @include fonts(30px, 34px, 400, 0.04em);
  }
}

.link {
  display: block;
  cursor: pointer;
  transition: color var(--transition);
  &:hover,
  &:focus {
    color: var(--accent-font-color);
  }
}

.icon {
  fill: currentColor;
}
