.modal {
  width: 100%;
  height: 100%;
  max-width: 450px;

  padding: 20px 15px 40px 15px;

  background-color: var(--background-primary-color);
  background-image: linear-gradient(
      to right,
      rgba(255, 184, 202, 0.9),
      rgba(255, 184, 202, 0.7)
    ),
    url(../images/hero/mobile/slider-pic1.png);
  background-repeat: no-repeat;
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
  background-position-x: 20px;
  background-position-y: 40px;
  background-size: 75%;

  border: none;
  border-radius: 4px;

  position: absolute;
  overflow: scroll;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include mq(tablet) {
    max-width: 520px;
    height: 700px;
    padding: 25px 20px 50px 20px;

    background-position-x: 215px;
    background-position-y: 10px;
    background-size: 60%;
  }

  @include mq(desktop) {
    width: 550px;
    height: 700px;
  }
  &__discount {
    margin-top: 17px;
    text-align: center;

    @include fonts(26px, 35px, 700, 0.02em);
    color: var(--white-color);

    @include mq(tablet) {
      @include fonts(40px, 35px, 700, 0.02em);
    }
  }
}

.checkbox {
  position: relative;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
.checkbox__lable {
  display: block;

  @include fonts(20px, 30px, 500, 0.02em);
  color: var(--white-color);

  @include mq(tablet) {
    @include fonts(26px, 32px, 500, 0.02em);
  }
}

.checkbox + label {
  position: relative;
  padding: 0 0 0 40px;
  cursor: pointer;
}

.checkbox + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 200px;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: var(--background-button-hover);
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
  transition: 0.2s;

  @include mq(tablet) {
    left: 242px;
  }
}
.checkbox + label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 202px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: var(--reverse-background-button);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: 0.2s;

  @include mq(tablet) {
    left: 242px;
  }
}
.checkbox:checked + label:before {
  background: var(--icon-background);
}
.checkbox:checked + label:after {
  left: 228px;

  @include mq(tablet) {
    left: 270px;
  }
}
.checkbox:focus + label:before {
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2),
    0 0 0 3px rgba(194, 226, 151, 0.7);
}

.form__options {
  margin-top: 30px;
  @include fonts(20px, 30px, 500, 0.02em);
  color: var(--white-color);

  @include mq(tablet) {
    @include fonts(30px, 35px, 700, 0.02em);
  }
}

.form__ammount {
  display: flex;
  padding-left: 40px;
}
.form__amount-title {
  margin-right: 25px;

  @include fonts(20px, 30px, 500, 0.02em);
  color: var(--white-color);

  @include mq(tablet) {
    @include fonts(26px, 32px, 500, 0.02em);
  }
}

.form__amount-counter {
  text-align: center;
  border-radius: 6px;
  background-color: var(--background-button-hover);
  outline: none;
  border: 2px solid var(--reverse-background-button);

  &:focus {
    border: 2px solid var(--background-secondary-color);
  }
}

//  personal data

.form__lable {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.form__lable:first-child {
  margin-top: 50px;
}

.form__options {
  text-align: center;
}

.form__text {
  position: absolute;
  bottom: 35px;
  left: 12px;

  @include fonts(14px, 30px, 400, 0.02em);
  color: var(--white-color);

  @include mq(tablet) {
    @include fonts(20px, 32px, 400, 0.02em);
  }
}
.form__text-textarea {
  position: absolute;
  left: 12px;
  bottom: 115px;

  @include fonts(14px, 30px, 400, 0.02em);
  color: var(--white-color);

  @include mq(tablet) {
    @include fonts(20px, 32px, 400, 0.02em);
  }
}

.form__input {
  width: 100%;
  margin-top: 4px;
  padding: 12px;
  height: 40px;
  border: 1px solid var(--accent-font-color);
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include mq(tablet) {
    @include fonts(20px, 32px, 400, 0.02em);
  }
}
.textarea {
  height: 120px;
  padding: 10px;
}
//  buttons

.modal-close {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  fill: var(--reverse-background-button);

  border: 1px solid var(--reverse-background-button);
  border-radius: 50%;

  background-color: var(--background-primary-color);
  cursor: pointer;
  transition: border-color var(--reverse-background-button), var(--transition);

  &:hover,
  &:focus {
    color: var(--background-button-hover);
    border-color: var(--background-button-hover);
  }

  &__icon {
    width: 11px;
    height: 11px;
    fill: currentColor;

    // fill: var(--label-color);
  }
}

.button__modal {
  display: block;
  margin: 0 auto;
  padding: 15px 60px;

  @include fonts(20px, 36px, 700, 0.02em);
}
