.reviews {
  background-color: #ffffff;
  @include mq(mobile) {
    padding: 30px 0;
  }
  @include mq(tablet) {
    padding: 60px 0;
  }
}

.reviews__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mq(tablet) {
    padding: 0 42px;
  }
  @include mq(desktop) {
    padding: 0 100px;
  }
}

.reviews__image {
  margin-bottom: 32px;
  width: 85px;
  border-radius: 50%;
  @include mq(tablet) {
    margin-bottom: 20px;
  }
  @include mq(desktop) {
    margin-bottom: 16px;
  }
}

.reviews__wrap {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 43px;
  padding-bottom: 17px;

  background-color: var(--background-review);
  margin-bottom: 16px;

  @include mq(tablet) {
    margin-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 37px;
    padding-bottom: 36px;
  }
  @include mq(desktop) {
    padding-left: 73px;
    padding-right: 74px;
    padding-top: 47px;
    padding-bottom: 31px;
    margin-bottom: 16px;
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.reviews__text {
  z-index: 1;
  position: relative;
  padding-left: 15px;
  padding-right: 8px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  text-align: center;
  color: #000000;
  letter-spacing: 0.04em;

  @include mq(tablet) {
    font-size: 14px;
    line-height: 2.16;
    padding-left: 45px;
    padding-right: 49px;
  }
  @include mq(desktop) {
    font-size: 16px;
    line-height: 1.86;
    padding-left: 36px;
    padding-right: 35px;
  }

  background-image: repeating-linear-gradient(
    to top,
    var(--decor-color),
    transparent 1px,
    transparent 30px,
    transparent 31px
  );
}

.reviews__text::before {
  content: '';
  position: absolute;
  left: -0;
  top: -13px;
  width: 100%;
  height: 100%;
  background: url(../images/customer-reviews/sign.svg);
  background-repeat: no-repeat;
  margin-right: 3px;
  z-index: -1;
}

.reviews__dots {
  position: relative;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--review-accent);
  margin-bottom: 16px;
  &::before {
    content: '';
    position: absolute;
    left: -10px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--review-accent);
  }
  &::after {
    content: '';
    position: absolute;
    left: 10px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--review-accent);
  }
}

.slick-dots li:hover button:before {
  color: var(--review-accent);
}

.slick-dots li button:before {
  font-size: 12px;
  color: var(--review-common);
  opacity: 1;
  // .slick-dots li:hover & {
  //   color: var(--review-accent);
  // }
}

.slick-dots li.slick-active button::before {
  background: url(../images/customer-reviews/house.svg);
  background-repeat: no-repeat;
  background-position: 50% 35%;
  color: transparent;
}

.reviews__city {
  margin-bottom: 16px;

  font-family: 'DM Sans';
  // font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 186%;
  color: #000000;

  @include mq(tablet) {
    margin-bottom: 32px;
    font-size: 16px;
  }
  @include mq(desktop) {
    font-size: 20px;
  }
}
