.footer {
  @include section(40px, 0px);
  background-color: var(--background-section-primary);
}

.footer__container {
  @include mq(tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.footer-tagline-container {
  margin-bottom: 40px;
}

.footer__tagline {
  margin-bottom: 16px;

  font-size: 18px;

  color: var(--label-color);

  @include mq(tablet) {
    margin-bottom: 12px;
  }
}

.footer__tagline-accent-word {
  display: block;

  @include mq(desktop) {
    display: inline;
  }
}

.footer__social-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  margin-bottom: 40px;

  @include mq(tablet) {
    flex-direction: column;
    margin-bottom: 59px;
  }
}

.footer__social-list {
  display: flex;
  gap: 28px;
  justify-content: flex-end;

  margin-bottom: 40px;
}

.footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;
  border-radius: 50%;

  background-color: var(--icon-background);
  cursor: pointer;

  transition: transform var(--transition);

  &:hover,
  &:focus {
    background-color: var(--icon-background-accent);
    animation: rubberBand;
    animation-duration: 1s;
  }
}

.footer__contacts {
  @include fonts(12px, 22px, 700);
}

.footer__contacts-accent {
  display: inline-block;

  color: var(--accent-font-color);
  cursor: pointer;

  &:hover,
  &:focus {
    animation: heartBeat;
    animation-duration: 1s;
  }
}

.footer__copyright {
  @include fonts(14px, 21px, 700);
  text-align: center;

  padding-top: 16px;

  border-top: 1px solid var(--decor-color);
  color: var(--text-secondary-color);
  background-color: var(--background-section-primary);

  @include mq(tablet) {
    padding-top: 8px;
  }

  @include mq(tablet) {
    padding-top: 7px;
    padding-bottom: 3px;

    @include mq(desktop) {
      padding-bottom: 4px;
    }
  }
}

.footer__copyright-part {
  display: block;

  @include mq(tablet) {
    display: inline;
  }
}
