.footer {
  @include section(40px, 0px);
  background-color: var(--background-section-primary);
}

.footer__container {
  @include mq(tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.footer-title-container {
  margin-bottom: 40px;

  &:hover {
    position: relative;
    top: 19px;

    -webkit-animation: bounce 0.3s ease infinite alternate;
    animation: bounce 0.3s ease infinite alternate;

    color: var(--accent-font-color);
    text-shadow: 0 1px 0 #d0cbcb, 0 2px 0 #c7c3c3, 0 3px 0 #cecaca,
      0 4px 0 #cecdcd, 0 5px 0 #ccc8c8, 0 6px 0 transparent, 0 7px 0 transparent,
      0 8px 0 transparent, 0 9px 0 transparent, 0 10px 0 transparent,
      0 11px 0 transparent, 0 12px 0 transparent, 0 13px 0 transparent,
      0 14px 0 transparent, 0 15px 0 transparent,
      0 10px 10px rgba(12, 12, 12, 0.42);

    @-webkit-keyframes bounce {
      100% {
        top: -20px;
        text-shadow: 0 1px 0 #bfbebe, 0 2px 0 #bfbebe, 0 3px 0 #bfbebe,
          0 4px 0 #bfbebe, 0 5px 0 #bfbebe, 0 6px 0 #bfbebe, 0 7px 0 #bfbebe,
          0 8px 0 #bfbebe, 0 9px 0 #bfbebe, 0 10px 0 #bfbebe, 0 11px 0 #bfbebe,
          0 12px 0 #bfbebe, 0 13px 0 #bfbebe, 0 14px 0 #bfbebe, 0 15px 0 #bfbebe,
          0 50px 25px rgba(19, 18, 18, 0.23);
      }
    }

    @keyframes bounce {
      100% {
        top: -20px;
        text-shadow: 0 1px 0 #bfbebe, 0 2px 0 #bfbebe, 0 3px 0 #bfbebe,
          0 4px 0 #bfbebe, 0 5px 0 #bfbebe, 0 6px 0 #bfbebe, 0 7px 0 #bfbebe,
          0 8px 0 #bfbebe, 0 9px 0 #bfbebe, 0 10px 0 #bfbebe, 0 11px 0 #bfbebe,
          0 12px 0 #bfbebe, 0 13px 0 #bfbebe, 0 14px 0 #bfbebe, 0 15px 0 #bfbebe,
          0 50px 25px rgba(10, 10, 10, 0.21);
      }
    }
  }
}

.footer__title {
  margin-bottom: 16px;

  font-size: 18px;

  color: var(--label-color);

  @include mq(tablet) {
    margin-bottom: 12px;
  }
}

.footer__title-accent-word {
  display: block;

  @include mq(desktop) {
    display: inline;
  }
}

.footer__social-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  margin-bottom: 40px;

  @include mq(tablet) {
    flex-direction: column;
    margin-bottom: 59px;
  }
}

.footer__social-list {
  display: flex;
  gap: 28px;
  justify-content: flex-end;

  margin-bottom: 40px;
}

.footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;
  border-radius: 50%;

  background-color: var(--icon-background);
  cursor: pointer;

  transition: transform var(--transition);

  &:hover,
  &:focus {
    background-color: var(--icon-background-accent);
    animation: rubberBand;
    animation-duration: 1s;
  }
}

.footer__contacts {
  @include fonts(12px, 22px, 700);
}

.footer__contacts-accent {
  display: inline-block;

  color: var(--accent-font-color);
  cursor: pointer;

  &:hover,
  &:focus {
    animation: flip;
    animation-duration: 1s;
  }
}

.footer__copyright {
  @include fonts(14px, 21px, 700);
  text-align: center;

  padding-top: 16px;

  border-top: 1px solid var(--decor-color);
  color: var(--text-secondary-color);
  background-color: var(--background-section-primary);

  @include mq(tablet) {
    padding-top: 8px;
  }

  @include mq(tablet) {
    padding-top: 7px;
  }
}

.footer__copyright-part {
  display: block;

  @include mq(tablet) {
    display: inline;
  }
}
