.header {
  position: absolute;
  top: 8px;
  left: 0;
  right: 0;
  @include mq(tablet) {
    top: 32px;
  }
  @include mq(desktop) {
    top: 37px;
  }
}
.header__container {
  display: flex;
  align-items: center;
}
.header__wrapper {
  display: flex;
  align-items: center;
  @include mq(desktop) {
    flex-direction: row-reverse;
  }
}
.menu-button.is-open {
  position: fixed;
  @include mq(mobile) {
    right: 20px;
    top: 20px;
  }
  @include mq(tablet) {
    right: 20px;
    top: 20px;
  }
}

.header__menu {
  width: 254px;
  position: absolute;
  top: 0;
  right: 0;
  position: fixed;
  transform: translate(0, -100%);
  padding-top: 122px;
  opacity: 0;
  z-index: 100;
  @include fonts(14px, 18px, 700);
  background-color: var(--background-mobile-menu);
  transition: transform var(--transition), opacity var(--transition);

  @include mq(mobile) {
    height: 100vh;
  }
  @include mq(tablet) {
    transform: translate(0, -100%);
    height: 101vh;
  }
  &.is-open {
    transform: translate(0%, 0%);
    pointer-events: all;
    opacity: 1;
  }
  @include mq(desktop) {
    display: flex;
    align-items: baseline;
    flex-direction: row-reverse;
    gap: 141px;
    position: static;
    pointer-events: all;
    opacity: 1;
    padding: 0;
    transform: translate(0, 0);
    width: 100%;
    height: auto;
    background-color: transparent;
  }
}

.header__button {
  display: flex;
  align-items: center;
  white-space: nowrap;
  z-index: 120;
  padding: 10px 43px;
  gap: 14px;
  @include mq(mobile) {
    pointer-events: none;
    opacity: 0;
    display: flex;
    position: fixed;
    right: 21px;
    padding: 10px 53px;
    transform: translateY(0);

    .menu-button.is-open ~ & {
      transform: translateY(50px);
      opacity: 1;
      pointer-events: all;
    }
  }
  @include mq(tablet) {
    margin-left: 32px;
    padding: 10px 32px;
    @include mq(desktop) {
      margin-left: 141px;
      display: flex;
    }
    .menu-button.is-open ~ & {
      position: fixed;
      right: 34px;
      transform: translate(-10px, 34px);
      margin: 0;
    }
  }
}

.header__logo-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: auto;
}

.logo {
  width: 50px;
  height: 50px;
  &__text {
    font-family: 'Titan One', cursive;
    text-transform: uppercase;
    color: var(--title-color);
    @include fonts(24px, 29px);
  }
}
.site-nav {
  color: var(--white-color);
  @media screen and (max-width: 1199px) {
    text-indent: 20px;
  }
  &__list {
    @include mq(desktop) {
      display: flex;
      gap: 35px;
    }
  }
  &__link {
    padding: 13px 0;
    position: relative;
    @include mq(desktop) {
      padding: 16px 0;
      &::before {
        position: absolute;
        top: 22%;
        left: 50%;
        width: 0;
        border-radius: 9px;
        background-color: var(--white-color);

        transition: width var(--transition), left var(--transition);
        z-index: -1;
        content: '';
      }

      &::before {
        height: 29px;
      }

      &:hover::before {
        left: -10%;
        width: 120%;
      }
    }
  }
}

.site-nav__item {
  position: relative;
  @media screen and (max-width: 1199px) {
    &:nth-child(1)::before,
    &::after {
      position: absolute;
      left: 0;
      content: '';
      width: 100%;
      height: 1px;
      background-color: white;
      opacity: 0.2;
    }
  }
}
