.hero {
  background-color: var(--background-primary-color);
  overflow: hidden;
  min-width: 320px;
}
.hero__container {
  position: relative;
}

.hero__title {
  position: relative;
  padding-top: 194px;
  padding-bottom: 158px;
  z-index: 4;
  width: 218px;
}

.hero__title-wrapper {
  font-size: 26px;
  line-height: 1.15;
  text-transform: uppercase;
  margin-bottom: 20px;

  &--color {
    color: var(--white-color);
  }
  &--size {
    font-size: 48px;
    line-height: 0.97;
  }
}

.hero__ice-cream {
  position: absolute;
  bottom: 0;
  right: 32px;
  z-index: 1;
  display: flex;
  &::before {
    content: '';
    position: absolute;
    top: -9px;
    left: -81px;

    display: flex;
    width: 346px;
    height: 344px;
    border-radius: 50%;
    background-color: var(--background-secondary-color);
    z-index: -1;
  }
    animation-name: transition-ice-cream;
      animation-duration: 900ms;
      animation-timing-function: linear;
      animation-iteration-count: 1;
      animation-direction: normal;
    }
    
    @keyframes transition-ice-cream {
      0% {
        transform: scale(0.6);
      }
    
      50% {
        transform: scale(1.1);
      }
    
      100% {
        transform: scale(1);
      }
  }


.hero__button {
  font-size: 8px;
  line-height: 1.25;
  padding: 7px 13px;

  &:not(:last-child) {
    margin-right: 4px;
  }
}
.button__link {
  width: 100%;
}

@media screen and(max-width:767.9px) {
  .hero__milk {
    display: none;
  }
  .hero__girl {
    display: none;
  }
  .hero__lorem {
    display: none;
  }
  .hero__cafes {
    display: none;
  }
  .hero__food-trucks {
    display: none;
  }
}
@media screen and(min-width:768px) {
  .hero__title {
    width: 170px;
    padding-top: 102px;
    padding-bottom: 0;
    margin-bottom: 20px;
    &-wrapper {
      font-size: 22px;
      line-height: 1.14;
      text-transform: uppercase;

      &--size {
        font-size: 34px;
        line-height: 0.9;
      }
    }
  }
  .top-line {
    display: flex;
    justify-content: space-between;
  }
  .hero__cafes {
    margin-top: 92px;
    position: relative;

    &::before {
      content: ' ';
      position: absolute;
      right: 0;
      width: 16px;
      display: flex;
      height: 16px;
      border-radius: 50%;
      background-color: var(--white-color);
    }
  }

  .hero__food-trucks {
    margin-top: 16px;
    position: relative;
    &::before {
      content: ' ';
      position: absolute;
      right: 0;
      width: 16px;
      display: flex;
      height: 16px;
      border-radius: 50%;
      background-color: var(--white-color);
    }
  }

  .hero__number-cafes-trucks {
    position: relative;

    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.14;
    color: var(--title-color);
    padding-left: 10px;
    padding-top: 4px;
  }

  .hero__title-cafes-trucks {
    position: relative;
    right: 8px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    text-align: right;
    color: var(--white-color);
  }

  .hero__milk {
    display: flex;
    margin-bottom: 16px;
  animation-name: transition-milk;
    animation-duration: 500ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: normal;
  }    
  @keyframes transition-milk {
    0% {
      transform: translatex(-200px);
    }
  
    100% {
      transform: translatex(0);
    }
  }

  .hero__lorem {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
  }
  .hero__disc-arrow {
    width: 130px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    color: var(--white-color);
    margin-bottom: 7px;
    z-index: 5;
  }

  .hero__bottom-line {
    display: flex;
    justify-content: space-between;
  }

  .hero__ice-cream {
    left: 322;
    &::before {
      top: -37px;
      left: -74px;
      width: 335px;
      height: 333px;
    }
      }

  .hero__girl {
    display: flex;
    z-index: 5;
    align-items: flex-end;
  }

  .hero__button-circle {
    width: 18px;
    padding: 0;
    border: none;
    border-radius: 50%;
  }
  .hero__button {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }

    // Anime by Ihor
    .drops {
      -webkit-filter: url(#liquid);
      filter: url(#liquid);
      z-index: -1;
      opacity: 0;
      animation: fade-in 0.1s linear 0.4s forwards;
      position: absolute;
      bottom: 75px;
      left: 72px;
      justify-content: center;
  
      &__filter {
        display: none;
      }
  
      &__drop1,
      &__drop2 {
        left: -66px;
        right: 0;
        bottom: 0;
        width: 20px;
        height: 26px;
  
        background-color: var(--white-color);
        border-radius: 50%;
        margin: auto;
        position: absolute;
      }
  
      &__drop1 {
        bottom: 10px;
        width: 56px;
        height: 17px;
  
        border-radius: 0;
      }
  
      &__drop2 {
        animation: drop 1.3s cubic-bezier(1, 0.19, 0.66, 0.12) 0.5s infinite;
      }
  
      @include mq('tablet') {}
  
      @include mq('desktop') {
        bottom: 122px;
        left: 100px;
  
        &__drop1 {
          bottom: 10px;
  
          width: 92px;
          height: 16px;
        }
  
        &__drop1,
        &__drop2 {
          height: 32px;
          border-radius: 0;
        }
      }
    }  
    @keyframes fade-in {
      0% {
        opacity: 0;
      }
  
      100% {
        opacity: 1;
      }
    }  
    @keyframes drop {
      0% {
        bottom: 0px;
        opacity: 1;
      }
  
      80% {
        opacity: 1;
      }
  
      100% {
        opacity: 1;
        bottom: -200px;
      }
    }  
    @keyframes wave {
      0% {
        background-position: 0 160px;
        background-size: 170px 300px;
      }
  
      100% {
        background-position: 500px -18px;
        background-size: 250px 150px;
      }
    }
}

@media screen and(min-width:1200px) {
  .hero__title {
    width: 280px;
    padding-top: 147px;
    padding-bottom: 0;
    margin-bottom: 40px;

    &-wrapper {
      font-size: 38px;
      line-height: 1.16;
      margin-bottom: 24px;

      &--size {
        font-size: 58px;
      }
    }
  }

  .top-line {
    display: flex;
    justify-content: space-between;
  }

  .hero__cafes {
    margin-top: 152px;
    position: relative;

    &::before {
      width: 30px;
      height: 30px;
    }
  }

  .hero__food-trucks {
    margin-top: 15px;
    position: relative;

    &::before {
      width: 30px;
      height: 30px;
    }
  }
  .hero__number-cafes-trucks {
    font-size: 46px;
    line-height: 1.15;
  }

  .hero__title-cafes-trucks {
    position: relative;
    right: 18px;
    font-size: 14px;
    line-height: 1.29;
  }

  .hero__milk {
    display: flex;
    margin-bottom: 60px;
  }

  .hero__lorem {
    display: flex;
    flex-direction: column;
    padding-top: 68px;
  }

  .hero__disc-arrow {
    width: 200px;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 20px;
  }

  .hero__bottom-line {
    display: flex;
    justify-content: space-between;
  }

  .hero__ice-cream {
    left: 636px;
    &::before {
      top: -54px;
      left: -119px;
      width: 534px;
      height: 534px;
    }
  }

  .hero__girl {
    display: flex;
    z-index: 5;
    animation-name: transition-girl;
    animation-duration: 500ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: normal;
  }

  @keyframes transition-girl {
    0% {
      transform: translatex(200px);
    }

    100% {
      transform: translatex(0);
    }
  }

  .hero__button-circle {
    width: 26px;
  }
  .hero__button {
    font-size: 14px;
    line-height: 1.29;
    padding: 15px 21px;
    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  
}
