.container--hero{
  position: relative;
    top: 0;
  //   left: 0;
  height: 502px;
  background-color: var(--background-primary-color);
  overflow: hidden;
}

.hero{
  position: absolute;
  top: 194px;
   z-index: 4;

}

.hero__name{
  font-family: titan one;
  font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;

  &--color {
    font-size: 48px;
    line-height: 0.97;
    color: var(--title-color);
  }
}
.hero__button{
  font-size: 8px;
    line-height: 1.25;
    padding: 9px 14px;
}

.circle{
  position: absolute;
top: 83px;
left: 36px;
right: -63px;
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background-color: var(--background-secondary-color);

  
}
.pic{
  width: auto;
}

.ice-cream{
  position: absolute;
  top: 92px;
  left: 117px;
  z-index: 3;
}









// background-position: center;
//   background-repeat: no-repeat;
//   background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//     url(../img/banner-480px@1x.jpg);
//   background-size: cover;
//   @media screen and (min-device-pixel-ratio: 2),
//     screen and (min-resolution: 192dpi),
//     screen and (min-resolution: 2dppx) {
//     background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//       url(../img/banner-480px@2x.jpg);
//     background-size: cover;