.products {
  background-color: var(--background-white);

  @include section();
}

.section__label {
  margin-bottom: 15px;

  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;;
}

.section__title {
  margin-bottom: 148px;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;
  color: var(--title-color);
}

.card-set {
  gap: 140px;
}

.product {
  position: relative;
  padding: 140 39 40 41;
  background-color: var(--card-color-first);
  border-radius: 24px;

  &-cofee {
    background-color: var(--card-color-second);
  }

  &-milkshakes {
    background-color: var(--card-color-third);
  }
}

.product-cream::before {
content: '';
position: absolute;
top: 0;
left: 50%;
z-index: 2;
transform: translate(-50%, -50%);

width: 280px;
height: 280px;

background-image: url(../images/products/mobile/product-pic1.png);
@media (min-device-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
      background-image: url(../images/products/mobile/product-pic1@2x.png);
    }
}

.product-coffee::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  
  width: 280px;
  height: 280px;
  background-image: url(../images/products/mobile/product-pic2.png);

  @media (min-device-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
      background-image: url(../images/products/mobile/product-pic2@2x.png);
    }
}

.product-milkshakes::before {
  content: '';
  content: '';
position: absolute;
top: 0;
left: 50%;
z-index: 2;
transform: translate(-50%, -50%);

width: 280px;
height: 280px;

  background-image: url(../images/products/mobile/product-pic3.png);

  @media (min-device-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
      background-image: url(../images/products/mobile/product-pic3@2x.png)
    }
}

.product__name {
  margin-top: 20px;
  margin-bottom: 32px;
  font-family: 'Titan One', cursive;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  
  @include mq(mobile) {
    @include fonts(20px, 23px, 400);
  }
}

.ellipse,
.ellipse::before,
.ellipse::after {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background-color: var(--white-color);
  border-radius: 50%;
}

.ellipse {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}

.ellipse::before {
position: absolute;
left: 10px;
}

.ellipse::after {
position: absolute;
right: 10px;
}

.product__discr {
  margin-bottom: 32px;

  text-align: center;
  color: var(--white-color);

  @include mq(mobile) {
    @include fonts(14px, 21px, 700);
  }
}

.arrow-right {
 margin-left: auto;
 margin-right: auto;
 width: 40px;
 height: 40px;
 border-radius: 50%;
}